*{
    color: #FFFFFF;
}
body{
    font-family: sans-serif;
    margin: 0;
}
/*Typography*/

/*Layout*/
.header_container{
    display: flex;
    flex-direction: column;
    background-image: url("assets/Object.png");
    background-attachment: scroll;
    background-repeat: no-repeat; 
    /* background-position: 95%; */
    /* width: 100%; */
    /* height: 1093px; */
}
.header_container header{
    margin-bottom: 20px;
}

.header_wrapper nav{
    display: flex;
    justify-content: space-around;
    /* border: 2px dashed lightskyblue; */
    
}
.logo_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header_wrapper ul{
    display: flex;
    list-style-type: none;
    /* justify-content: space-between; */
    /* margin: 10px; */
    /* padding-left: 0; */
    /* border: 3px solid rgb(17, 43, 99); */
}

nav img{
    height:25px;
}

nav ul li{
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    list-style-type: none;
    margin: 1.25em;
    font-weight: bold;
    opacity: 0.8;
}

.banner_wrapper a{
    text-decoration: none;
}
ul li a:hover{
    opacity: 1;
    color: #FFFFFF;
}

.banner_wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner_wrapper .banner_title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}


.banner_wrapper .banner_title h1{
    font-size: 120px;
    align-items: center;
    margin: 0;
}

.span_wrapper span{
    /* margin: 1em; */
    font-size: 16px;
    margin: 30px;
    padding: 0;
    /* border: 1px dotted red; */
}

.banner_title button{
    background-color: #C271FF;
    border-radius: 22px;
    /* border-color: black; */
    width: auto;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    padding: 1em;
    border: none;
}
.banner_wrapper .banner_title span{
    margin: 20px;
}
.span_wrapper{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid burlywood; */
    margin: 18px 30px;
    font-size: 1em;
    padding: 0;
}


.banner_title{
    display: flex;
    flex-direction: row;
}
.header_container .banner_wrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.testimony{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.testimony h1{
    font-weight: lighter;
    margin: 68px 0 87px;
}

.testimony h1 span{
    color: #C271FF;
    font-weight: 900;
}

.images_wrapper{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    margin: 0 100px 97px;
    width: 1009px;
}

.images_wrapper div{
    width: 150px;
}

.img_bru{
    border-radius: 50%;
}

.images_wrapper h3{
    font-size: 16px;
    padding: 2px;
}
.images_wrapper p{
    font-size: 14px;
    font-style: italic;
    padding: 8px 0;
}

.qoute_wrapper{
    background-color: #C271FF;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* width: 100%; */
    /* margin-top: 0; */

}

.author_wrapper{
    display: flex;
    /* justify-content: space-around; */
    /* border: 2px solid red; */
}
 
.author_wrapper .author_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 118px 237px 124px 0;
    /* border: 2px solid red; */
}
.author_wrapper img{
    margin: 108px 53px 124px 260px;
}

.author_info blockquote{
    text-align: start;
    margin: 0;
    font-size: 22px;
    font-weight: lighter;
}

.author_info h3{
    font-size: medium;
    font-style: italic;
    font-weight:lighter ;
    line-height: 33.6px;
    margin: 22px 0 0;

}

.author_info h2{
    font-size: smaller;
    margin-top: 0;
    font-style: italic;
    /* letter-spacing: 1.5; */
}

/*=================================*/
/*==Video wrapper section layout==*/
/*===============================*/

.videos_wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    color: #071629;
 }  
.videos_wrapper h2{
    color: #071629;
    margin: 87px 0 25px 87px;
    text-align: center;
}

.videos_wrapper p{
    color: #071629;
    padding: 10px;
}

.videos_wrapper span{
    color: #C271FF;
    font-weight: 900;

}

.videos_desc_wrapper{
    display: flex;
    /* justify-content: space-around; */
    padding: 50px;
}
.videos_desc_wrapper h3{
    margin: 18px 0 8px;
    color: #071629;
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
}

.videos_desc1 .videos_desc2 .videos_desc3 .videos_desc4{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5px; */
    /* width: 255px; */
    /* height: 355px; */
    /* margin: 0 15px 87px 58px;
    background-color: aquamarine;
    padding: 20px; */
}

.philly_wrap{
    display: flex;
    justify-content: start;
    /* margin-right: 5px ; */
    /* line-height: 27px; */
}

.philly_wrap img{
    width: 30px;
    height: 30px;
    margin: 14px;
}
.philly_wrap h4{
    color: #C271FF;
    font-size: 14px;
    font-weight: lighter;
}

.rating{
    display: flex
}

.rating img{
    align-items: center;
    margin-left: 14px;
    margin-right: 70px;
}
.rating p{
    margin:0 9px 0 0;
    font-size: 15px;
    padding: 0;
}


/* ==Member ship== */

.membership{
    background-color: #071629;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 160px;
    margin-top: 37px;
}

.membership h2{
    margin: 70px 0 58px;
    font-weight: lighter;
    /* letter-spacing: 2; */
    /* text-align: center; */
}
.membership span{
    color: #C271FF;
    font-weight: 900;
}

.membership h3{
    font-size: small;
    font-weight: bold;
    margin-top: 27px;
}

.membership p{
    font-size: small;
}
.membership_inner{
    display: flex;
    /* text-align: center; */
    /* margin: 0 auto; */
    justify-content: space-around;
    text-align: center;
}

.membership_inner img{
    width: 43.67px;
    height: 35.35px;
}

.member{
    margin: 0 29px;
    /* padding: 30px; */
}


.membership button{
    width: 162px;
    height: 44px;
    border-radius: 22px;
    background-color: #C271FF;
    border-style: none;
    margin: 85px 0 52px;
    font-weight: bolder;
}
.membership a{
    text-decoration: none;
}